<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Spring Thyme Seed Starter Manager</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/stsm.css" th:href="@{/css/stsm.css}"/>
  </head>

<body>
<div class="container">

    <nav class="navbar navbar-default" style="height:100px" >
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <img style="height:60px" src="../static/images/stsmlogo.png" alt="STSM logo" title="STSM logo" th:src="@{/images/stsmlogo.png}" th:alt-title="#{title.application}"/>
          </a>
        </div>
      </div>
    </nav>

      <h1 th:text="#{title.list}" class="display-5">List of Seed Starters</h1>

      <table class="table table-striped table-bordered table-hover table-sm">
        <thead class="thead-inverse">
          <tr class="bg-info">
            <th style="width:110px" th:text="#{seedstarter.datePlanted}">Date Planted</th>
            <th style="width:60px" th:text="#{seedstarter.covered}">Covered</th>
            <th style="width:70px" th:text="#{seedstarter.type}">Type</th>
            <th th:text="#{seedstarter.features}">Features</th>
            <th th:text="#{seedstarter.rows}">Rows</th>
            <th style="width:70px">Delete</th>
          </tr>
        </thead>
        <tbody>

          <tr th:each="sb,iterStat : ${allSeedStarters}">
            <td th:text="${{sb.datePlanted}}">2011-01-02</td>
            <td th:text="#{|bool.${sb.covered}|}">yes</td>
            <td th:text="#{|seedstarter.type.${sb.type}|}">Wireframe</td>
            <td th:text="${#strings.arrayJoin(
                             #messages.arrayMsg(
                               #strings.arrayPrepend(sb.features,'seedstarter.feature.')),
                             ', ')}">Electric Heating, Turf</td>
            <td>
              <table>
                <tbody>
                  <tr th:each="row,rowStat : ${sb.rows}">
                    <td th:text="${rowStat.count}">1</td>
                    <td th:text="${row.variety.name}">Thymus Thymi</td>
                    <td th:text="${row.seedsPerCell}">12</td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td>
            <a class="btn btn-warning " href="#" role="button" th:href="@{/seedstartermng/del/{id}(id=${iterStat.index})}">Delete</a>
            </td>
          </tr>

          <tr th:remove="all">
            <td>2011-12-24</td>
            <td>no</td>
            <td>PLASTIC</td>
            <td>Turf</td>
            <td></td>
            <td><a class="btn btn-warning" href="#" role="button">Delete</a></td>
          </tr>

        </tbody>
      </table>

  <button type="button" class="btn btn-primary">Add</button>

</div>
</body>
</html>