<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Add Seed Starter</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/starter_add.css" th:href="@{/css/starter_add.css}"/>
  </head>

  <body>
    <div class="container" style="width:600px" >

      <h2 >Add a Seed Starter</h2>

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Seed Starter Data</h3>
        </div>
        <div class="panel-body">
      <form class="form-horizontal" action="#" th:action="@{/seedstarter/add}" th:object="${seedStarter}" method="post">

        <fieldset>
          <ul class="alert alert-warning" th:if="${#fields.hasErrors('*')}" >
            <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
          </ul>

          <div class="form-group has-error" >
            <label class="control-label col-sm-6" for="datePlanted" >
              <span th:text="#{seedstarter.datePlanted}">Date planted</span>
              (<span th:text="#{date.format}">YYYY-MM-DD</span>)
            </label>
            <div class="col-sm-6">
              <input class="form-control" type="text" th:field="*{datePlanted}" th:errorclass="has-error" />
             </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-6" th:for="${#ids.next('covered')}" th:text="#{seedstarter.covered}">Covered</label>
            <div class="col-sm-6">
              <input class="form-control" type="checkbox" th:field="*{covered}" />
            </div>

          </div>

          <div class="form-group ">
            <label class="control-label col-sm-6" for="type" th:text="#{seedstarter.type}">Type</label>
             <div class="col-sm-6">
            <select class="form-control" th:field="*{type}">
              <option th:each="type : ${allTypes}" th:value="${type}" th:text="#{${'seedstarter.type.' + type}}">Wireframe</option>
            </select>
            </div>
          </div>

          <div class="form-group ">
            <label class="control-label col-sm-6" th:text="#{seedstarter.features}">Features</label>
            ·<div  class="col-sm-6">
            <ul style="list-style-type: none;">
              <li th:each="feat : ${allFeatures}">
              <div style="display: flex">
                <input style="width:20px" type="checkbox" th:field="*{features}" th:value="${feat}" />
                <label style="margin-left:5px;width:70%" th:for="${#ids.prev('features')}" th:text="#{${'seedstarter.feature.' + feat}}">Electric Heating</label>
              </div>
              </li>
              <li th:remove="all">
               <div style="display: flex">
                 <input id="removed1" type="checkbox" />

                 <label style="margin-left:5px" for="removed1">Seed starter-specific substrate</label>
               </div>
              </li>
            </ul>
            </div>
          </div>

          <div class="form-group ">
            <label class="control-label"th:text="#{seedstarter.rows}">Rows</label>
            <table class="table table-striped table-bordered table-hover table-sm">
              <thead>
                <tr class="bg-info">
                  <th class="col-md-1" th:text="#{seedstarter.rows.head.rownum}">Row</th>
                  <th th:text="#{seedstarter.rows.head.variety}">Variety</th>
                  <th th:text="#{seedstarter.rows.head.seedsPerCell}">Seeds per cell</th>
                  <th class="col-md-1">
                    <button type="submit" class="btn btn-primary btn-xs" name="addRow" th:text="#{seedstarter.row.add}">Add row</button>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="row,rowStat : *{rows}">
                  <td th:text="${rowStat.count}">1</td>
                  <td>
                    <select th:field="*{rows[__${rowStat.index}__].variety}">
                      <option th:each="var : ${allVarieties}" th:value="${var.id}" th:text="${var.name}">Thymus Thymi</option>
                    </select>
                  </td>
                  <td>
                    <input style="width:100%" type="text" th:field="*{rows[__${rowStat.index}__].seedsPerCell}" th:errorclass="fieldError" />
                  </td>
                  <td>
                    <button type="submit" name="removeRow" th:value="${rowStat.index}" th:text="#{seedstarter.row.remove}" class="btn btn-primary btn-xs">Remove row</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="submit form-group" style="margin-top:15px">
            <button type="submit" th:text="#{seedstarter.create}" class="btn btn-primary">Add Seed Starter</button>
          </div>

        </fieldset>

      </form>

        </div>
      </div>
    </div>

  </body>
</html>